.form {
    display: flex;
    flex-direction: column;
}

.add_product ul li {
    display: flex;
    align-items: center;
    gap: 50px;
}

.actions {
    max-width: 600px;
    margin: 0 auto;
    text-align: right;
}

hr {
    margin-bottom: 10px;
}

.actions button:first-of-type {
    padding: 0;
    margin-bottom: 0px;
    background-color: transparent;
    letter-spacing: .1rem;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    transition: 1s;
    margin: 0;
    color: #2d2a2a;
    border: none;
}



.form fieldset {
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
    margin-bottom: 15px;
    border: none;
}



.button {
    padding: 0 5px;
    border: none;
    margin: 0px;
    height: 40px;
    background-color: #808687;
    font-size: 12px;
    color: #2d2a2a;
    flex: 1;
}

.button div {
    padding: 10px;
    font-family: .2rem;
    color: #FDFDFD;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.active_btn {
    padding: .5rem .7rem;
    margin-top: 20px;
    align-self: flex-end;
}

.cancel_btn {
    display: none;
}

.list_container1 {
    max-height: 150px;
    overflow-y: auto;
}

.list {
    max-width: 600px;
    margin: 0 auto 200px;
}

.list ul {
    border: .5px solid #ccc;
    border-radius: 8px;
    padding: 2px 5px;
}

.list ul:nth-of-type(1) {
    margin-bottom: 15px;
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 5px;
}

.setItem_btn,
.setItem_btn:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.icon {
    font-size: 20px;
    background-color: transparent;
}