:root {
  --font_family: "Archivo", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
  color: #0b4e54;
}

a {
  text-decoration: none;
}

button {
  padding: .7em 3.5em;
  margin-bottom: 10px;
  border: .8px solid #0b4e54;
  background-color: #0b4e54;
  color: #d7e4e4;
  font-size: clamp(.3rem, 100vh, .9rem);
  border-radius: 4px;
  transition: 1s;
}

button:hover {
  cursor: pointer;
  background-color: #116f76;
  color: #fff;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #eee;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


body {
  min-height: 100vh;
  background-color: #d7e4e4;
}


/* background-color: #1a1a1a;  #f9f9f9 #213547 */
/* #f9f9f9; #d7e4e4 */