.container {
    max-width: 70%;
    margin: 0px auto;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.form fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: none;
}

.col_1 {
    margin-bottom: 30px;
}

.col_2 {
    margin-bottom: 30px;
}

legend {
    margin-bottom: 15px;
}

.form input:nth-of-type(1) {
    flex: 1 0 60%;
}

.form input:nth-of-type(2) {
    flex: 0 30%;
}

.form input:nth-of-type(3),
.form input:nth-of-type(4) {
    flex: 1 0 40%;
}

.actions {
    max-width: 600px;
    margin: 0 auto;
    text-align: right;
}

.actions button:first-of-type {
    padding: 0;
    margin-bottom: 0px;
    background-color: transparent;
    letter-spacing: .1rem;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    transition: 1s;
    margin: 0;
    color: #2d2a2a;
    border: none;
}

.form button {
    padding: .5rem .7rem;
    margin-top: 20px;
    align-self: flex-end;
}

.table {
    max-width: 600px;
    max-height: 452px;
    background-color: #eee;
    overflow-y: auto;
    position: relative;
}

.table_list {
    width: 100%;
    max-height: 200px;
}

.head {
    position: sticky;
    top: 0;
    left: 0;
}

.table_list li {
    width: 100%;
}

.table li:nth-of-type(2n) {
    margin-top: 0px;
    background-color: #c9c6c6;
}

.table div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0b4e54;
    text-align: left;
}

.table div span {
    color: #eee;
    text-align: center;
    width: 100%;
}

.table li {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.table li:nth-of-type(2n) {
    background-color: #c9c6c6;
}


.table li span {
    padding: 10px;
    max-width: 80px;
    font-size: 12px;
}

.filter {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;
    background-color: #eee;
}

.filter input {
    width: 100%;
    padding: 8px 0px 8px 5px;
    border: none;

    position: sticky;
    top: 0;
    left: 0;
}


.filter button {
    margin: 0;
    padding: .5px 2px;
    background-color: #ccc;
    position: absolute;
    right: 15px;
    border: 0;
    font-size: 15px;
}