.form fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: none;
}

.col_1 {
    margin-bottom: 30px;
}

.col_2 {
    margin-bottom: 30px;
}

legend {
    margin-bottom: 15px;
}

.form input:nth-of-type(1) {
    flex: 1 0 60%;
}

.form input:nth-of-type(2) {
    flex: 0 30%;
}

.form input:nth-of-type(3),
.form input:nth-of-type(4) {
    flex: 1 0 40%;
}